.page {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2.5rem;
  color: #444;
  font-family: Sans-Serif;
}

div #content {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1rem;
  padding: 0 0.6rem;
}

html {
  background-color: #eeeeee;
}

h1 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
